@font-face {
    font-family: LinuxLibertine;
    src:url("./fonts/LinLibertine_RI.ttf");
}

@font-face {
    font-family: Chintzy;
    src:url("./fonts/chintzy.ttf");
}

@font-face {
    font-family: Venice;
    src:url("./fonts/venice.ttf");
}

@font-face {
    font-family: Knightorns;
    src:url("./fonts/knightorns.ttf");
}

@font-face {
    font-family: BiteAndSlash;
    src:url("./fonts/biteandslash.ttf");
}

* {
    margin: 0px;
    font-family:"LinuxLibertine";
    font-size: 1.5vmax;
    color:#f2f300;
}

{
  scrollbar-width: thin;
  scrollbar-color: transparent;
}

body {
    background-color: #C9AB00;
    color: #0f1a12;
    background-image: url(../wall_06.gif);
    display: grid;
    grid-template-areas:
      "header header"
      "panels panels"
      "footer footer";
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 0.8%;
}

.cabecalho {
    margin-top: 0.8%;
    margin-left: 0.4%;
    margin-right: 0.4%;
    padding: 0.5%;
    background-color: rgba(77,77,128,0.7);
    border: 4px solid #f2f2f3;
    display: flex;
    grid-area: header;
}

.titulo {
    text-align: center;
    background-color: black;
    border: 2px solid #f2f2f3;
    background-image: url(../s9white.png);
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 140px 180px;
    min-width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo h1{
    padding: 1%;
    font-size: 6vmin;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.8);
    font-family:"Chintzy";
    color: #f2f2f3;
}

.navbar {
    width: 75%;
    text-align: center;
    padding-top: 2%;
}

.navbar a {
    font-size: 2.5vmin;
    margin-right: 8%;
    margin-left: 8%;
    padding: 1%;
    background-color: #029200;
}

.navbar a:hover {
    padding: 1.5%;
}

.paineis {
    grid-area: panels;
    display: grid;
    grid-template-areas:
      "content sidebar";
    grid-template-columns: 5fr 2fr;
    gap: 0.4%;
    margin: 0.4%;
}

.painel-topo-direita {
    grid-area: sidebar;
    display: grid;
    grid-template-areas:
      "card"
      "card";
    grid-template-rows: 1fr 1fr;
}

.painel-interno {
    border-left: 3vmin dashed #f2f300;
    border-right: 3vmin dashed #f2f300;
    border-top: 0.2vmin solid black;
    border-bottom: 0.2vmin solid black;
    background-color: black;
    max-width: 15vmax;
    max-height: 19vmax;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.painel-topo-direita h2 {
    text-align: center;
    border: 1px solid black;
    font-size: 2vmax;
    color: #000000;
    background-color: #f2f2f3;
}

.panel-img {
    border: 1px solid black;
    background-image: url(../3rdgigbarcode.svg);
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 110% 110%;
    background-color: white;
    height: 15vmin;
}

.painel-topo-direita p {
    border: 1px solid black;
    font-size: 1.2vmax;
    color: #000000;
    background-color: #f2f2f3;
}

.painel-introdutorio {
    background-color: #f2f2f3;
    border: 2px solid black;
    grid-area: content;
}

.painel-introdutorio p {
    padding: 1%;
    color: black;
    font-size: 1.5vmax;
}

.painel-introdutorio h2 {
    padding: 1%;
    color: black;
    font-size: 2vmax;
}

.painel-introdutorio i {
    color: black;
    font-size: 3vmax;
}

.painel-introdutorio a {
    color: blue;
    font-size: 1.5vmax;
}

.painel-introdutorio a:hover {
    color:#f2f300;
    padding: 0.2%;
    background-color: #029200;
}

.painel-introdutorio sub {
    text-align: right;
    color: black;
    font-size: 15px;
    font-weight: 200;
    display: inline-block;
}

.painel-introdutorio hr {
    margin-left: 0.5%;
    margin-right: 0.5%;
}


.webring {
    justify-self: center;
    align-self: center;
    max-width: 19vmax;
    min-width: 14vmax;
    max-height: 15vmax;
    min-height: 10vmax;
    grid-area: card;
    grid-row: 2;
    background-image: url(../circ.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 14vmax 10vmax;
}

.webring h2 {
    color: #f2f2f3;
    font-size: 3vmin;
    text-align: center;
    padding-top: 30%;
    padding-bottom: 30%;
    background: none;
    border: none;
}

.webring a {
    text-decoration: none;
}

.webring h2:hover {
    text-shadow: #74FFFD 1px 0 20px;
}

.quote {
    grid-area: footer;
    align-self: end;
    color: black;
    margin: 1%;
}

.quote i {
    font-size: 1.4vmax;
    color: black;
}
