@font-face {
    font-family: LinuxLibertine;
    src:url("./fonts/LinLibertine_RI.ttf");
}

@font-face {
    font-family: Chintzy;
    src:url("./fonts/chintzy.ttf");
}

@font-face {
    font-family: Venice;
    src:url("./fonts/venice.ttf");
}

@font-face {
    font-family: Knightorns;
    src:url("./fonts/knightorns.ttf");
}

@font-face {
    font-family: BiteAndSlash;
    src:url("./fonts/biteandslash.ttf");
}

* {
    margin: 0%;
}

{
  scrollbar-width: thin;
  scrollbar-color: transparent;
}

body {
    background-color: #217eaa;
    color: #0f1a12;
    background-image: url(../backgroundblur.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.cabecalho {
    text-align: center;
    padding: 1%;
    margin-top: 5%;
}

.titulo h1{
    font-size: 600%;
    text-shadow: 0px 4px 10px rgba(179,147,211,0.8);
    font-weight: 400;
    margin-bottom: 1%;
    font-family:"Chintzy";
    color: #f2f2f3;
}

.fakelogin {
    font-family:"LinuxLibertine";
    font-size: 100%;
    font-weight: 250;
    color:#7af683;
    margin-top: 25%;
    padding-top: 3%;
    padding-bottom: 5%;
    background-color: #252525;
    border: 2px solid white;
    background-image: url(../3rdgigbarcode.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 20% 25%;
}

.fakelogin input[type="text"] {
    border: none;
    background-color: #252525;
    padding: 3%;
    color: #7af683;

}

.fakelogin input[type="password"] {
    border: none;
    background-color: #252525;
    color: #7af683;

}

.fakelogin button {
    border: none;
    background-color: #252525;
    padding: 5%;
    color: #7af683;

}

.fakelogin textarea:focus, input:focus{
    outline: none;
}

.boasvindas p{
    padding: 2%;
}

.outer-outer-circle {
    margin-top: 5%;
    text-align: center;
    background-color: transparent;
    display: inline-block;
    width: 370px;
    height: 370px;
    border-radius: 50%;
    background-image: conic-gradient(
        #F2E750 140deg,
        transparent 0 230deg,
        #F2E750 0
    );
}

.outer-circle {
    margin-top: 1.5%;
    text-align: center;
    background-color: transparent;
    display: inline-block;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-image: conic-gradient(
        #ffc100 70deg,
        black 0 85deg,
        #ffc100 0 140deg,
        transparent 0 230deg,
        #ffc100 0 300deg,
        white 0 310deg,
        #ffc100 0

    );
}

.inner-circle {
    margin-top: 5%;
    text-align: center;
    height: 320px;
    width: 320px;
    background-color: #f2e750;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 0px 100px 5px #F2E750;
}

.inner-line {
    margin-top: 2.5%;
    text-align: center;
    height: 300px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #ffffff
}

.inner-inner-circle {
    padding-top: 0.1%;
    height: 299px;
    width: 299px;
    background-color: #ffd144;
    border-radius: 50%;
    display: inline-block;
    background-image: url(../comp014.gif);
    box-shadow: 0px 0px 100px 8px #ffd144;
}


.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
}

.footer p {
    font-family: "Chintzy";
    font-size: 100%;
    color: #ffffff;
}
