<html>
{{ return templates.head.text }}
<body>
{{ return templates.minibanner.text }}
<div class="postlist">
{{ return content.auto.text }}
{{
	-- Sort posts by file creation time
	local times = {}
	for name, post in pairs(content.saladearte.posts) do
		table.insert(times, name)
	end
	table.sort(times, function(a, b)
		return content.saladearte.posts[a].accessed_time > content.saladearte.posts[b].accessed_time
	end)
	
	local output = ""
	for _, name in pairs(times) do
		
		local post = content.saladearte.posts[name]
		
	-- ### [<POST TITLE>](<URL>)\n<POST TEXT FOLLOWING POST TITLE UP TO 144 CHARS>
		output = output .. "## ["..post.title.."](./saladearte/posts/"..name..".html)\n\n"
		
	end
	
	return output
}}
</div>
{{ return templates.footer.text }}
</body>
</html>
