<html>
{{ return templates.head.text }}
<body>
{{ return templates.minibanner.text }}
<div class="content">
{{ return content.auto.text }}
<hr>
{{
    local times = {}
	for name, post in pairs(content.escrivaninha.posts) do
		table.insert(times, name)
	end
	table.sort(times, function(a, b)
		return content.escrivaninha.posts[a].accessed_time > content.escrivaninha.posts[b].accessed_time
	end)
	local output = ""
	for _, name in pairs(times) do
		local post = content.escrivaninha.posts[name]
		output = output .. "### ["..post.title.."](./posts/"..name..".html)\n\n"
	end
    return output
}}
</div>
{{ return templates.footer.text }}
</body>
</html>
