<div class="nav">
    <p>Escolha uma porta para ser teletransportado pelos fios até outra parte do site.</p>
    <ul>
        <li><a href="escrivaninha/", title="Escrivaninha"><img src="/static/door.png" alt="Porta"></a></li>
        <li><a href="oficina/", title="Oficina"><img src="/static/door.png" alt="Porta"></a></li>
        <li><a href="sala-de-arte/", title="Sala de Arte"><img src="/static/door.png" alt="Porta"></a></li>
        <li><a href="sala-de-musica/", title="Sala de Música"><img src="/static/door.png" alt="Porta"></a></li>
    </ul>
</div>
